<h1 class="text-center py-3">Cargar documentación</h1>

<form
  class="d-flex flex-column mx-5 text-center justify-content-center"
  action="/api/users/:uid/documents"
  method="post"
  enctype="multipart/form-data"
>
  <label for="profileMulter">Profile</label>
  <input class="text-center border my-3" type="file" name="profile" id="profileMulter" />

  <label for="documentsMulter">Documents</label>
  <input class="text-center border my-3" type="file" name="documents" id="documentsMulter" />

  <label for="productsMulter">Products</label>
  <input class="text-center border my-3" type="file" name="products" id="productsMulter" />

</form>